body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    background-color: cornflowerblue;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background-color: rgb(43, 92, 226);
    color: white;
}

.blockdiv {
    width: 20%;
    left: 10%;
    height: 2px;
    background-color: black;
}